<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs') %>
<body>
<%- include ('./partials/nav.ejs') %>

    <h1>Contacts</h1>

    <ul>
        <li>Я</li>
        <li>Моя бабуся</li>
        <li>Дед мороз</li>
        <li>Я опять</li>

    </ul>

        

</body>
</html>